
{%extends "base.html"%}
{%block head_title%}{{user.username}}|{{block.super}}{%endblock head_title%}

{%block content%}
<h1>{{user.username}}</h1>
<p>
  {%include 'profiles/snippet/follow_form.html' with username=user.username is_following=is_following%}
</p>
<form class="form" action="." method="GET">
<input type="text" placeholder="Search.." name="q" value="{{request.GET.q}}">
<button class="btn btn-default" type="submit">Search</button>
</form>
<hr>

{%if locations%}
 <div class="row">
{%for rest in locations %}

  <div class="col-sm-4">

    <div class="thumbnail" style="background: rgba(240, 255, 253, 1);
    height:150px;">

    <a href="{{rest.get_absolute_url}}">
        <h4>{{rest.title}}</h4>
    </a>
    <p> {{rest.location}} | {{rest.category}}</p>
      <ul>
        {%for item in rest.item_set.all%}
        <li style="margin-bottom:15px">{{item.name}}<br>
              {%for ing in item.get_contents%}
              <span class="badge badge-default">{{ing}}</span>
              {%endfor%}
              <br>
              {%for i in item.get_excludes%}
              <span class="badge badge-default">{{i}}</span>
              {%endfor%}

              <!-- {%for ing in item.get_contents%}
              <span style="padding:2px 4px;margin-right:4px;background-color:#ccc">{{ing}}</span>
              {%endfor%} -->
        </li>
        {%endfor%}
      </ul>
      </div>

  </div>

{%endfor%}
</div>
{%else%}
<p class="lead">
  No Items Found
</p>
{%endif%}

{%endblock%}
