
{%extends "base.html"%}
{%block head_title%}Restaurants|{{block.super}}{%endblock head_title%}
{% load static %}

{%block content%}
<link rel="stylesheet" href="{% static '/css/restaurant_list.css' %}" >
<h1>貪吃名單
  <a href="{%url "restaurants:create"%}"><img class="add" src="{% static '/media/static/icon/add.png' %}">
  </a>
</h1>

<hr>
<div class='container'>
  <div id="portfolio">
    <div class="gallery">
      {% for obj in object_list%}

      <div class="gallery-item" style="background-image: url('{{obj.cover_image.url}}');">

        <h2>{{obj.name}}</h2>
        <a  href="{{obj.get_absolute_url}}">
        <div class="item-mask">
        </div>

        </a>
      </div>

      {%endfor%}

    </div>

  </div>
</div>
{%endblock%}